@import "../variables";

.about {
  height: 80vh;
  display:flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  @media only screen and (min-width: 992px) {
    flex-direction: row;
  }

  h1 {
    font-family: 'Baloo Thambi 2', cursive;

    font-size: 5rem;
    margin: 0.5rem 0;
    line-height: 1;
  }

  h1,
  p {
    text-align: center;

    @media only screen and (min-width: 992px) {
      text-align: left;
    }
  }
}

.portrait {
  display: none;

  @media only screen and (min-width: 992px) {
    display: block;
  }
}

.tech {
  font-family: 'Baloo Thambi 2', cursive;
  text-align: center;

  @media only screen and (min-width: 992px) {
    text-align: left;
  }
}

.sec {
  display:flex;
  flex-flow:column;
  justify-content:center;
  max-width: 1250px;
}

.hi {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 992px) {
    justify-content: left;
  }
}

.base {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;

  @media only screen and (min-width: 992px) {
    justify-content: left;
  }

  img {
    width: 2rem;
  }
}

.short {
  color: $purple;
  font-weight: bold;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: normal;
  }

  @media only screen and (min-width: 992px) {
    justify-content: left;
  }
}

.half {
  @media only screen and (min-width: 992px) {
    width: 40%;
  }

  a {
    text-decoration: none;
    position: relative;
    transition: all 0.2s linear;
    color: black;
    text-decoration: underline;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
      transition: all 0.2s linear;
    }
  }
}

.highlight {
  border-bottom: 4px solid $purple;
}

.sliders {
  display: none;

  @media only screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0 0 0;
  }
}

.slidersMobile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0 0 0;

  @media only screen and (min-width: 992px) {
    display: none;
  }
}