@import "../variables";

.connect {
  width: 100vw;
  max-width: 1250px;
  margin: 8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (min-width: 992px) {
    margin: 15rem 0 0 0;
  }

  h2 {
    font-family: 'Baloo Thambi 2', cursive;
    text-align: left;
  }
}

.connectors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}